@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: rgba(188, 202, 201, 0.521);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  /*changed from 2em to 1*/
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, textarea{
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(188, 202, 201, 0.521);
}

.btnAdd {
  @apply w-20 h-20 bg-slate-500 hover:bg-white/50 rounded-full mt-8 pt-5 text-white hover:text-slate-500 text-center text-4xl font-bold m-auto drop-shadow-lg
}
.singleCard{
  @apply w-full min-h-fit lg:w-4/5 p-6 bg-black/30 rounded-3xl;
}
.basicButton{
  @apply m-4 w-10 h-10 pt-2 rounded-full text-center font-bold drop-shadow-lg ;
}
.buttonGray{
  @apply bg-gray-500 hover:bg-white text-white hover:text-gray-500;
}

.buttonRed{
  @apply bg-gray-300/50 hover:bg-rose-900  text-rose-900 hover:text-gray-300;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #242424;
  }

  a:hover {
    color: rgba(188, 202, 201, 0.521);
  }

  button {
    background-color: #242424;
  }
}